html,
body {
  padding: 0;
  margin: 0;
  font-family: Vollkorn, serif;
}

@font-face {
  font-family: "Vollkorn";
  src: url("/fonts/Vollkorn-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
